	<!doctype html>
<title>Newsy</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='application.js') }}"></script>


<div class=page>
  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Newsy</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a id="sports" href="#">Sports</a></li>
	      <li><a id="business" href="#">Business</a></li> 
	      <li><a id="world" href="#">World</a></li> 
	      <li><a id="entertainment" href="#">Entertainment</a></li> 
	      <li><a id="health" href="#">Health</a></li> 
	    </ul>
	  </div>
	</nav>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>