{% extends "layout.html" %}
{% block body %}

<div id="wrapper">
  <div class="sports">
    <h1> Sports </h1>
    <div class="columns">
      {% for sportsEntry in sportsEntries %}
      <div class="pin">
        <a href={{sportsEntry.url}} >
          <h4> {{sportsEntry.title}} </h4>
          <h6> Keywords: {{", ".join(sportsEntry.keywords)}} </h6>
          <img src={{sportsEntry.giphy}} />
          <p>{{sportsEntry.text}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="business">
    <h1> Business </h1>
    <div class="columns">
      {% for businessEntry in businessEntries %}
      <div class="pin">
        <a href={{businessEntry.url}}>
          <h4> {{businessEntry.title}} </h4>
          <h6> Keywords: {{", ".join(businessEntry.keywords)}} </h6>
          <img src={{businessEntry.giphy}} />
          <p>{{businessEntry.text}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="world">
    <h1> World </h1>
    <div class="columns">
      {% for worldEntry in worldEntries %}
      <div class="pin">
        <a href={{worldEntry.url}}>
          <h4> {{worldEntry.title}} </h4>
          <h6> Keywords: {{", ".join(worldEntry.keywords)}} </h6>
          <img src={{worldEntry.giphy}} />
          <p>{{worldEntry.text}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="entertainment">
    <h1> Entertainment </h1>
    <div class="columns">
      {% for entertainmentEntry in entertainmentEntries %}
      <div class="pin">
        <a href= {{entertainmentEntry.url}}>
          <h4> {{entertainmentEntry.title}} </h4>
          <h6> Keywords: {{", ".join(entertainmentEntry.keywords)}} </h6>
          <img src={{entertainmentEntry.giphy}} />
          <p>{{entertainmentEntry.text}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="health">
    <h1> Health </h1>
    <div class="columns">
      {% for healthEntry in healthEntries %}
      <div class="pin">
        <a href={{healthEntry.url}}>
          <h4> {{healthEntry.title}} </h4>
          <h6> Keywords: {{", ".join(healthEntry.keywords)}} </h6>
          <img src={{healthEntry.giphy}} />
          <p>{{healthEntry.text}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
